<!DOCTYPE html>
<html>
<head>
<title>Login - FinCradle</title>
<link rel="stylesheet" href="/static/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<div class="topbar">
    <div class="brand">FinCradle</div>
</div>

<div class="container" style="max-width:420px;margin-top:80px">

    <div class="card">
        <h2 style="text-align:center;">Welcome Back</h2>
        <p style="text-align:center;color:var(--muted);margin-bottom:2rem">Login to your finance dashboard</p>

        <form method="POST">
            <input class="input" name="email" type="email" placeholder="Email address" required>
            <input class="input" name="password" type="password" placeholder="Password" required>

            <button style="width:100%;margin-top:10px;">Login to Dashboard</button>
        </form>

        <p style="text-align:center;margin-top:20px;color:var(--muted)">
            New user?
            <a href="/register" style="font-weight:600">Create account</a>
        </p>
    </div>

</div>

</body>
</html>